
body {
    font-family: Arial;
    background-color: #f2f2f2;
    text-align: center;
}
.login-box {
    margin: 100px auto;
    width: 300px;
    padding: 20px;
    background: white;
    border: 1px solid #ccc;
}
input, button {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
}
